# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.whl

# Virtual Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Installer executables
*.exe

# Database & Runtime generated data
*.db-journal
invoices/*.pdf
backups/

# Logs
*.log

# Editor & OS settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
